<% provide(:title, t('footer.contact')) %>

<div class="wrapper wrapper-full-page">
  <div class="full-page">   
    <div class="content">
      <div class="container">
        <div class="row">                   
          <div class="col-md-8 col-sm-6 col-md-offset-2 col-sm-offset-3">
            <form method="#" action="#">
              <div class="card card-hidden" style="padding:1em">
                <h2 class="header text-center"><%= t('contact.header') %></h2><br>
                <ul style="list-style: none">
                  <li>
                    <h5><%= t('contact.outreach') %>
                    <%= link_to 'aroma@developer.com', "https://linkedin.com/in/grant-garland/" %></h5>
                  </li><br>
                  <li>
                    <h5><%= t('contact.code') %><a href="https://github.com/SlovaDev/my_cookbook">Github</a></h5>
                  </li><br>
                  <li>
                    <h5><%= t('contact.wish') %></h5>
                  </li><br>
                </ul>
                <div class="content">
                  <div class="form-group" >
                    <label><%= t('contact.message') %></label>
                    <input type="text" placeholder="<3<3<3" class="form-control" style="min-height:10em">
                  </div>
                    <div class="form-group">
                        <label><%= t('contact.email') %></label>
                        <input type="email" placeholder="<3<3<3" class="form-control">
                    </div>  
                </div>
                <div class="footer text-center">
                    <button type="submit" class="btn btn-fill btn-warning btn-wd"><%= t('forms.buttons.send') %></button>
                </div>
              </div> 
            </form>   
          </div>                    
        </div>
      </div>
    </div>
  </div>                             
</div>