<div class="wrapper">
  <div class="sidebar" data-color="purple" data-image="/assets/images/sidebar-3.jpg">

    <div class="sidebar-wrapper">
      <div class="logo">
        <%= link_to t('menu.title'), master_index_path, class: 'simple-text'%>
      </div>

      <ul class="nav">
        <li class="active">
          <%= link_to cuisines_path do %>
            <i class="fa fa-book"></i>
            <p><%= t('menu.cookbook') %></p>
          <% end %>
        </li>
        <li>
          <%= link_to new_recipe_path do %>
            <i class="fa fa-spoon"></i>
            <p><%= t('menu.new_recipe') %></p>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="www.google.com">Dashboard</a>
                </div>
                <div class="collapse navbar-collapse">

                    <!-- <ul class="nav navbar-nav navbar-left">
                      <li class="active">
                        <%= link_to cuisines_path do %>
                          <i class="fa fa-book"></i>
                          <p><%= t('menu.cookbook') %></p>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to new_recipe_path do %>
                          <i class="fa fa-spoon"></i>
                          <p><%= t('menu.new_recipe') %></p>
                        <% end %>
                      </li>
                    </ul> -->

                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">

                </div>
            </div>
        </div>

        <%= render 'shared/master_footer' %>

    </div>
</div>
