<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-right">
                <li>
                   <%= render "devise/shared/links" %>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="wrapper wrapper-full-page">
  <div class="full-page register-page">

    <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <div class="header-text">
                  <h1><%= t('devise.registrations.title') %></h1>
                  <hr />
              </div>
            </div>
            <div class="col-md-4 col-md-offset-2">
                <div class="media">
                  <div class="media-left">
                    <div class="icon">
                        <i class="fa fa-cutlery fa-md" style="font-size:x-large"></i>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4><%= t('welcome.feature.first.header') %></h4>
                    
                    <%= t('welcome.feature.first.detail') %>

                  </div>
                </div>

                <div class="media">
                  <div class="media-left">
                    <div class="icon">
                        <i class="fa fa-search fa-md" style="font-size:x-large"></i>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4><%= t('welcome.feature.second.header') %></h4>
                    
                    <%= t('welcome.feature.second.detail') %>

                  </div>
                </div>

                <div class="media">
                  <div class="media-left">
                    <div class="icon">
                        <i class="fa fa-users fa-md" style="font-size:x-large"></i>
                    </div>
                  </div>
                  <div class="media-body">
                    <h4><%= t('welcome.feature.third.header') %></h4>
                    
                    <%= t('welcome.feature.third.detail') %>

                  </div>
                </div>

            </div>
            <div class="col-md-4 col-md-offset-s1">
              <form method="#" action="#">
                <div class="card card-plain">
                  <div class="content">

                    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                      <%= f.error_notification %>

                    <div class="form-inputs">
                      <%= f.input :email, required: true, autofocus: true, input_html: { class: 'form-control' } %>
                      <%= f.input :password, required: true, input_html: { class: 'form-control' } %>
                      <%= f.input :password_confirmation, required: true, input_html: { class: 'form-control' } %>
                    </div>
                    <br>
                    <div class="form-actions">
                      <%= f.button :submit, t('forms.buttons.sign_up'), class: "btn btn-xl btn-outline" %>
                    </div>
                    <br>
                    <% end %>
                  </div>
                </div>
              </form>
             </div>
          </div>
        </div>
      </div>

      <footer class="footer footer-transparent">
        <div class="container">
          <p class="copyright text-center">
              &copy; 2017 <a href="http://www.github.com/SlovaDev/my_cookbook">Grant Garland</a>
          </p>
      </footer>
    </div>
  </div>
</div>