<div class="row">
  <div class="col-md-12 text-center">
    <div class="well controls">
      <%= link_to calendar_index_path(date: @date - 1.week), class: "btn btn-default left" do %>
        <i class="fa fa-arrow-circle-left fa-md"></i>
      <% end %>
      <%= "#{@date.strftime("%B")} #{@date.year}" %>
      <%= link_to calendar_index_path(date: @date + 1.week), class: "btn btn-default right" do %>
        <i class="fa fa-arrow-circle-right fa-md"></i>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= calendar @date do |date| %>
      <%= date.day %>
    <% end %>
  </div>
</div>
