<%= form_for recipe, html: { multipart: true } do |f| %>
  <div class="form-group">
    <%= f.label :name, t('recipes.new.name') %>
    <%= f.text_field :name, placeholder: t('recipes.new.name'), class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :cuisine, t('recipes.new.cuisines.title') %><br>
    <%= f.select :cuisine_id, cuisine_categories %>
  </div>

    <div class="col-md-8">
      <div class="form-group">
        <h3><%= t('recipes.new.ingredients.title') %></h3>
          <%= f.fields_for :ingredients do |ingredient| %>
            <%= render 'ingredient_fields', f: ingredient %>
          <% end %>
        <div class="links">
          <%= link_to_add_association t('recipes.new.buttons.add_ingredient'), f, :ingredients, class: "form-button btn btn-default" %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
        <h3><%= t('recipes.new.directions.title') %></h3>
        <%= f.fields_for :directions do |direction| %>
          <%= render 'direction_fields', f: direction %>
        <% end %>
        <div class="links">
          <%= link_to_add_association t('recipes.new.buttons.add_direction'), f, :directions, class: "form-button btn btn-default" %>
        </div>
      </div>
    </div>
    <div class="form-inline clearfix col-md-12">
      <%= f.button t('recipes.new.buttons.save'), class: "form-button btn btn-success" %>
      <%= link_to t('recipes.new.buttons.back'), url_for(:back), class: "form-button btn btn-default" %>
    </div>
<% end %>
