<% provide(:title, @recipe.name) %>
<p id="notice"><%= alert %></p>

<div class="main_content">
  <div class="row">
    <div class="col-md-8">
      <div>
        <h1>
          <%= @recipe.name %>
        </h1>
        <p>
          Submitted by
          <%= @recipe.user.email %>
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div id="ingredients">
        <h2>Ingredients</h2>
        <ul>
          <% @recipe.ingredients.each do |ingredient| %>
            <li>
              <%= ingredient.quantity %>
              <%= ingredient.measure %>
              <%= ingredient.item %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div id="directions">
        <h2>Directions</h2>
        <ul>
          <% @recipe.directions.each do |direction| %>
            <li>
              <%= direction.direction %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= link_to "Back", url_for(:back), class: "btn btn-default" %>
      <% if user_signed_in? %>
        <%= link_to "Edit", edit_recipe_path, class: "btn btn-default" %>
        <%= link_to "Delete", recipe_path, method: :delete, data: { confirm: 'Are you sure you want to delete this post?' } %>
      <% end %>
    </div>
  </div>
</div>
