<% provide(:title, @recipe.name) %>
<p id="notice"><%= alert %></p>

<div class="main_content">
  <div class="row">
    <div class="col-md-8">
      <div>
        <h1>
          <%= @recipe.name %>
        </h1>
        <% if @recipe.user %>
          <p>
            Created by <%= @recipe.user.email %> on
            <%= @recipe.created_at.strftime('%-d %B %Y') %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div id="ingredients">
        <h2>Ingredients</h2>
        <ul>
          <% @recipe.ingredients.each do |ingredient| %>
            <li>
              <%= ingredient.quantity %>
              <%= ingredient.measure %>
              <%= ingredient.item %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div id="directions">
        <h2>Directions</h2>
        <ul>
          <% @recipe.directions.each do |direction| %>
            <li>
              <%= direction.direction %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= link_to t('recipes.buttons.back'), url_for(:back), class: "btn btn-default" %>
      <% if current_user %>
        <%= link_to t('recipes.buttons.edit'), edit_recipe_path, class: "btn btn-default" %>
        <%= link_to t('recipes.buttons.remove'), recipe_path(:from=>"recipe_show"), method: :delete, data: { confirm: t('recipes.delete.check') }, remote: true %>
      <% end %>
    </div>
  </div>
</div>
