<% provide(:title, t('activerecord.model.cuisine.cuisine')[((params[:id]).to_i - 1)]) %>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h4 class="title"><%= t('activerecord.model.cuisine.cuisine')[((params[:id]).to_i - 1)] %></h4>
            <%= link_to (t('recipes.new.title')), new_recipe_path(cuisine_id: @cuisine.id
            ), class: 'btn btn-success pull-right', style: 'padding:5px;' %>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table">
              <thead>
                <tr>
                  <th><%= t('recipes.new.name') %></th>
                  <th><%= t('recipes.new.added') %></th>
                </tr>
              </thead>
              <tbody>
                <% @recipes.each do |recipe| %>
                  <%= content_tag :tr, id: "recipe-#{recipe.id}" do %>
                    <td class="td-actions">
                      <%= link_to recipe.name, recipe_path(recipe) %>
                    </td>
                    <td class="td-actions">
                      <% localized_time = I18n.l recipe.created_at, format: :shorter %>
                      <%= link_to localized_time, recipe_path(recipe) %>
                    </td>
                    <td class="td-actions text-right">
                      <%= link_to edit_recipe_path(recipe), class: "btn btn-success btn-simple btn-lg" do %>
                        <i class="fa fa-edit "></i>
                      <% end %>

                      <%= render partial: 'entry_form', locals: { recipe_id: recipe.id } %>
                      
                      <%= link_to recipe_path(recipe), method: :delete, data: { confirm: t('recipes.delete.check') }, remote: true, class: "btn btn-danger btn-simple btn-lg" do %>
                        <i class="fa fa-times"></i>
                      <% end %>
                    </td>
                  <% end %>
                <% end %>
              </tbody>
            </table>
            <ul class="pagination" style="padding-left: 1em">
              <%= paginate @recipes%>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
