<% provide(:title, t('menu.title')) %>

<%= render 'shared/application_navigation' %>

<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <div class="header-content">
                <div class="header-content-inner">
                    <h1><%= t('welcome.detail') %></h1>
                    <%= link_to t('forms.buttons.sign_up'), new_user_registration_path, class: 'btn btn-outline btn-xl page-scroll' %>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="welcome-container">
                <div class="welcome-mockup">
                    <div class="image">
                        <div class="cupcake">
                          <%= image_tag("cupcake-1") %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
              <div class="section-heading">
                  <h2><%= t('welcome.feature.header') %></h2>
                  <p class="text-muted"><%= t('welcome.feature.detail') %></p>
                  <hr>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="device-container">
                  <div class="device">
                      <div class="screen">
                          <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                          <%= image_tag("wedding_cake.png", class: "img-responsive") %>
                      </div>

                  </div>

                </div>
            </div>
            <div class="col-md-8">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="fa fa-cutlery fa-md"></i>
                                <h3><%= t('welcome.feature.first.header') %></h3>
                                <p class="text-muted"><%= t('welcome.feature.first.detail') %></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="fa fa-search fa-md"></i>
                                <h3><%= t('welcome.feature.second.header') %></h3>
                                <p class="text-muted"><%= t('welcome.feature.second.detail') %></p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="fa fa-users fa-md"></i>
                                <h3><%= t('welcome.feature.third.header') %></h3>
                                <p class="text-muted"><%= t('welcome.feature.third.detail') %></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="feature-item">
                                <i class="fa fa-comments fa-md"></i>
                                <h3><%= t('welcome.feature.fourth.header') %></h3>
                                <p class="text-muted"><%= t('welcome.feature.fourth.detail') %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cta">
  <div class="cta-content">
      <div class="container">
        <div class="section-heading">
          <h2><%= t('welcome.cta.header') %><br><%= t('welcome.cta.header_two') %></h2>
          <%= link_to t('forms.buttons.sign_up'), new_user_registration_path,
          { style:'color:white; float:right; margin-top:-10px;', class: 'btn btn-outline btn-xl page-scroll'} %>
        </div>
      </div>
  </div>
  <div class="overlay"></div>
</section>

<!-- <section id="download" class="download bg-primary text-center">
  <div class="container">
      <div class="row">
          <div class="col-md-8 col-md-offset-2">
              <h2 class="section-heading">Bring your cooking even closer to home!</h2>
              <p>Our app is also available on any mobile device! Click below to download Aroma onto your device home screen!</p>
              <div class="badges">
                <%= image_tag("homescreen-download", class: "badge-link") %>
              </div>
          </div>
      </div>
  </div>
  </section> -->

<%= render 'shared/application_footer' %>
