</<div class="container" style="height:100%;">
  <div class="authentication">
    <div class="card">
      <div class="card-block">
      <h1><%= t('devise.mailer.password_change.header')%><%= @resource.email %></h1>

      <p><%= t('devise.mailer.unlock_instructions.locked') %></p>

      <p><%= t('devise.mailer.unlock_instructions.subject') %></p>

      <p><%= link_to t('devise.mailer.unlock_instructions.unlock'), edit_password_url(@resource, reset_password_token: @token) %></p>
      </div>
    </div>
  </div>
</div>
