<header class="navbar navbar-fixed-top navbar">
  <div class="container" style="font-family: 'bad script';">
    <%= link_to t('menu.title'), root_path, id: "logo" %>
    <nav>
      <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to t('menu.new_recipe'), new_recipe_path %></li>
          <li><%= link_to t('menu.cookbook'), cuisines_path %></li>
          <li><%= link_to t('menu.edit_account'), edit_user_registration_path %></li>
          <li><%= link_to t('menu.log_out'), destroy_user_session_path, method: :delete %></li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to t('menu.log_in'), new_user_session_path %></li>
          <li><%= link_to t('menu.sign_up'), new_user_registration_path %></li>
        </ul>
      <% end %>
    </nav>
  </div>
</header>

<div class="flash">
    <% if flash[:notice] %>
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
    </div>
    <% elsif flash.now[:alert] %>
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash.now[:alert] %>
    </div>
    <% elsif flash[:alert] %>
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
    </div>
    <% end %>
</div>
