<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>
    <%= full_title(yield(:title)) %>
  </title>

  <link href="https://fonts.googleapis.com/css?family=Bad+Script|Fira+Sans+Extra+Condensed:400,600&amp;subset=cyrillic" rel="stylesheet">

  <% #favicon_link_tag 'favicons/favicon.ico' %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= csrf_meta_tags %>
</head>