<header class="navbar navbar-fixed-top navbar" style="background-color: 'white';">
  <div class="container" style="font-family: 'bad script';">
    <%= link_to t('menu.title'), root_path, id: "logo" %>
    <nav>
      <%= header_helper %>
    </nav>
  </div>
</header>

<div class="flash">
    <% if flash[:notice] %>
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
    </div>
    <% elsif flash.now[:alert] %>
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash.now[:alert] %>
    </div>
    <% elsif flash[:alert] %>
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
    </div>
    <% end %>
</div>
