<!DOCTYPE html>
<html>
  <%= render 'layouts/head'%>
  <body id="page-top">
    <%= render 'layouts/navigation' %>
    	<div class="container">
    		<%= render 'layouts/flash' %>

      		<%= yield %>
      		
  		</div>
    <%= render 'layouts/footer' %>
  </body>
</html>
