<!doctype html>
<html>

  <%= render 'shared/master_head' %>

  <body>
    <div class="wrapper">
      <div class="sidebar" data-color="purple" data-image=<%= asset_path("sidebar-3.jpg") %>>

        <% if controller.controller_name == 'help' %>
            <%= render 'shared/help_sidebar' %>
        <% else %>
            <%= render 'shared/master_sidebar' %>
        <% end %>

      </div>
  		<div class="main-panel">

  			<% if controller.controller_name == 'help' %>
          <%= render 'shared/help_navigation' %>
        <% else %>
            <%= render 'shared/master_navigation' %>
        <% end %>

  			<div class="content">
          <div class="container-fluid">
            <div class="row">

              <%= yield %>

            </div>
          </div>
        </div>

    		<%= render 'shared/master_footer' %>

  		</div>
    </div>
  </body>
</html>
