<!doctype html>
<html>

  <%= render 'shared/master_head' %>

  <body>
    <div class="wrapper">
      <div class="sidebar" data-color="purple" data-image=<%= asset_path("sidebar-3.jpg") %>>
        <%= render 'shared/master_sidebar' %>
      </div>
      <div class="main-panel">
        <%= render 'shared/master_navigation' %>
        <div class="content">
          <%= render 'shared/flash' %>
          <div class="container-fluid">
            <div class="row">

              <%= yield %>

            </div>
          </div>
        </div>
      </div>
      <%= render 'shared/master_footer' %>
    </div>
  </body>
</html>
